:root {
    --main-font-family-1: 'Roboto', Arial, Helvetica, sans-serif;
    --main-font-family-2: 'Roboto-Condensed', Arial, Helvetica, sans-serif;
    --main-font-family-3: 'Roboto-Slab', Arial, Helvetica, sans-serif;

    --main-font-size: 12px;
    --main-line-heignt: 16px;

    --main-background-color: #fff;
    --main-text-color: #666666;

    --input-background-color: #fff;
    --input-text-color: #333;

    --main-font-1: normal normal var(--main-font-size)/var(--main-line-heignt) var(--main-font-family-1);
}

*, :before, :after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font: var(--main-font-1);

    background-color: var(--main-background-color);
    color: var(--main-text-color);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #0097dd;
}